body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: mintcream; }

header {
  margin-top: 0;
  width: 100%;
  overflow: hidden;
  color: #99004c;
  text-shadow: 0 1px 2px mintcream;
  background-image: url("image/triangle.png");
  background-position: bottom center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  height: 400px; }

#head {
  max-width: 600px;
  margin: 100px auto; }

#headshot {
  width: 200px;
  float: left;
  border-radius: 15px;
  border: 2px solid black;
  margin-right: 50px; }

h1 {
  margin: 0;
  font-size: 42px;
  padding-top: 50px; }

nav {
  display: block;
  font-size: 26px; }
  nav a, nav a:visited {
    color: slategrey; }
  nav a:hover {
    color: #99004c; }

a, a:visited {
  color: #99004c;
  text-decoration: none; }
  a:hover, a:visited:hover {
    text-decoration: underline; }

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 600px;
  clear: both; }
  @media (max-width: 640px) {
    .container {
      padding-left: 20px;
      padding-right: 20px; } }

h2 {
  margin-top: 10%;
  color: #99004c;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  display: block;
  margin-top: 30px; }

h3 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0%;
  padding-bottom: 0;
  margin-bottom: 0; }

h4 {
  font-family: "Lato", sans-serif;
  margin-bottom: -5px;
  padding-top: 10px;
  font-size: 20px;
  border-bottom: 1px solid #0b80b2;
  margin-top: 5%; }

.timeline_item {
  padding-top: 5px; }
  @media (max-width: 630px) {
    .timeline_item {
      padding-top: 15px; } }

.date {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 10px;
  font-style: italic;
  font-size: 14px; }
  @media (max-width: 630px) {
    .date {
      text-align: left;
      display: block; } }

.timeline_note {
  margin-left: 90px;
  margin-top: 0.5%;
  margin-bottom: 0; }
  @media (max-width: 630px) {
    .timeline_note {
      margin-left: 0;
      padding-left: 1.25em; } }

#exclamation {
  color: #99004c; }

.icon {
  max-width: 25px;
  vertical-align: middle;
  display: inline-block;
  font-size: 20px; }

.star {
  max-width: 50px;
  vertical-align: baseline; }

#footer_sentence {
  font-size: 10px; }

#project_grid {
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  margin-top: 25px; }

#project_grid li {
  box-sizing: border-box;
  padding-bottom: 10px;
  clear: both;
  overflow: hidden;
  padding-top: 20px; }

figure {
  width: 55%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin: 0;
  padding-left: 0;
  margin-right: 25px;
  float: left;
  margin-bottom: 15px;
  overflow: hidden;
  border: 2px solid slategrey;
  box-sizing: border-box; }
  figure:hover {
    border: 2px solid black; }
    figure:hover figcaption {
      opacity: 1;
      right: 0; }

.project_img {
  width: 100%;
  display: block; }

figcaption {
  opacity: 0;
  transition: .5s linear all;
  background: rgba(169, 179, 189, 0.8);
  width: 30%;
  line-height: 1;
  font-size: 16px;
  position: absolute;
  right: -100px;
  bottom: 0;
  text-align: right;
  font-size: 36px;
  position: absolute;
  padding: 1%;
  box-sizing: border-box; }
  @media (max-width: 640px) {
    figcaption {
      width: 15%; } }

.fa-github, .fa-link {
  color: mintcream;
  width: 1em;
  text-align: center; }
  .fa-github:hover, .fa-link:hover {
    color: #99004c; }

.fa-plus-square:hover, .fa-minus-square:hover {
  color: #99004c;
  cursor: pointer; }

h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #99004c;
  font-size: 16px;
  margin-bottom: 10px; }

h5 + p {
  margin-top: 0px; }

.more_about {
  display: none; }

#skills span {
  color: mintcream;
  background-color: #0b80b2;
  padding: 4px;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  margin-left: 1px;
  line-height: 2em; }

footer {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  color: #99004c;
  text-align: right; }

/*# sourceMappingURL=style.css.map */
