$body-font: 'Source Sans Pro', sans-serif;
// $headline-font: 'Dosis', sans-serif;
$header-font: 'Roboto Slab', serif;
$subhead-font: 'Nanum Gothic', sans-serif;

// $primary-color: rebeccapurple;

$primary-color: slateblue;
$secondary-color: mediumpurple;
$shaded-color: whitesmoke;

body.v2, body.books {
	font-family: $body-font;
	font-size: 18px;
	font-weight: 300;
	margin: 0;

	h1 {
		font-family: $header-font;
		font-size: 2.5em;
		font-weight: lighter;
		margin-top: 0;
		text-align: center;
	}

	h2, h3 {
		color: $primary-color;
		font-family: $subhead-font;
		text-align: center;
	}
	h2 {
		font-size: 1.67em;
		margin-bottom: 0;
	}
	h3 {
		font-size: 1.25em;
		margin-bottom: 0;
		text-align: left;
	}
	.contact 	a {
		color: darkgrey;
			font-size: 1.75em;
			padding-right: 1px;

		&:hover {
			color: $primary-color;
		}
	}
	.contact-fixed {
		color: rgba(0,0,0,.8);
		margin: 0 auto;
		position: fixed;
		right: 10px;
		top: 10px;
		z-index: 5000;

		&.hidden {
			// display: none;
		}
	}
	.contact-static {
		display: none;
		margin: 30px auto 0;
	}

	.intro {
    background: linear-gradient(-45deg, rgba(235,230,250,.7) 50%, rgba(100,149,237,.7) 100%);
 		box-sizing: border-box;
		display: flex;
	  flex-direction: column;
	  justify-content: center;
	  height: 100vh;
		margin: 0 auto;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 200;

		@media (min-width: 1200px) {
			border: 3px solid $primary-color;
			height: calc(100vh - 40px);
			top: 20px;
		 	width: calc(100% - 40px);
		}

		.intro-text .what {
			border-right: 2px solid;
			line-height: 1;
			margin-right: 10px;
			padding-right: 10px;
		}
	}

	section:not(.intro), footer {
		box-sizing: border-box;
		margin: 10vh auto 0;
		max-width: 1000px;
		padding: 0 20px;
	}

	section.showcase {
	  height: 100vh;
	  margin:  15vh auto 0;
	  opacity: 0;
	  position: relative;
	  transition: 0.75s ease-in-out all;
	  transform: translateY(50px) scale(0.95);
  
	  &.inviewable--in-view {
	    opacity: 1;
	    transform: translateY(0%) scale(1);
	  }
	  .text {
	  	position: relative;
	  	top: 50px;

	  	.dates {
	  		font-size: 16px;
	  		letter-spacing: 1px;
	  		text-transform: uppercase;
	  	}
	  }
	  figure {
	  	margin: 0 auto;

		  .image {
				background-position: center;
			  background-size: cover;
			  max-width: 100%;
			  position: relative;
			  width: 600px;
			  z-index: 10;

			  img {
			  	max-width: 100%;
			  }
			}
			.image1 {
				left: 0;
			}
			.image2 {
				position: absolute;
			  right: 20px;
			  top: 3rem;
			  z-index: 1;

			  &:hover {
			  	z-index: 20;
			  }
			}
		}
		@media (max-width: 750px) {
			height: auto;
			min-height: 100vh;

			figure {
				.image.image1, .image.image2 {
					margin: 0 auto 20px;
					position: static;
				}
			}
			.text {
				position: static;
			}
		}
	}
	section.resume {
		margin: 4em auto 2em;
	}
	footer {
		margin-bottom: 2em;
		text-align: right;
	}

		@media (max-width: 600px) {
		.intro .intro-text {
			.what, .where {
				margin: 0;
				padding: 0;
				border: none;
				display: block;
				line-height: 1.5;
			}
		}
	}
	@media (max-width: 450px) {
		.intro {
			padding: 50px 0;

			h1 {
				font-size: 1.8em;
			}
			h2 {
				font-size: 1.3em;
			}
		}
	}
}


body.books {
	.intro {
	 	.intro-par {
  		color: $primary-color;
  		margin: 0 auto;
	 		text-align: center;
	 	}

 		@media (max-width: 475px) {
 			h1 {
 				font-size: 2.0em;
 			}
 			.intro-par {
 				margin: 15px 0;
 			}
 			.median {
 				width: 125px;
 			}
 		}
	}
	p {
		margin: 60px 0 30px;
	}
	ol + p {
		margin-top: 30px;
	}
	ol {
		margin-bottom: 0;

		@media (max-width: 500px) {
			padding-left: 15px;
		}

		li {
			padding-bottom: 5px;
		}
	}
	.rating {
		color: $secondary-color;
		font-weight: 600;
	}
}