$body-font: 'Roboto Slab', serif;
$headline-font: 'Lato', sans-serif;
$bg-color: mintcream;
$emphasis-color: #99004c;
$link-color: rgb(11, 128, 178);
$border-color: slategrey;

body {
	font-family: $body-font;
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	background-color: $bg-color;
	z-index: 12;
}

header {
	margin-top: 0;
	width: 100%;
	overflow: hidden;
	color: $emphasis-color;
  text-shadow: 0 1px 2px $bg-color;
  background-image: url("image/triangle.png");
	background-position: bottom center;
	background-size: cover;
	box-sizing: border-box;
	position: relative;
	height: 400px;
	// @media (max-width: 500px) {
	// 	background-position: 30%;
	// }
}

#head {
	max-width: 600px;
	margin: 100px auto;
}

#headshot {
	width: 200px;
	float: left;
	border-radius: 15px;
	border: 2px solid black;
	margin-right: 50px;
}

h1 {
	margin: 0;
	font-size: 42px;
	padding-top: 50px;
}

nav {
	display: block;
	font-size: 26px;
	a, a:visited {
		color: $border-color;
	}
	a:hover {
		color: $emphasis-color;
	}
}

a, a:visited {
	color: $emphasis-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 600px;
	clear: both;
	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

h2 {
	margin-top: 10%;
	color: $emphasis-color;
	font-family: $headline-font;
	font-size: 24px;
	display: block;
	margin-top: 30px;
}

h3 {
	font-family: $headline-font;
	font-weight: normal;
	font-size: 18px;
	margin-top: 0%;
	padding-bottom: 0;
	margin-bottom: 0;
}

h4 {
	font-family: $headline-font;
	margin-bottom: -5px;
	padding-top: 10px;
	font-size: 20px;
	border-bottom: 1px solid $link-color;
	margin-top: 5%;
}

.timeline_item {
	padding-top: 5px;
	@media (max-width: 630px) {
		padding-top: 15px;
	}
}

.date {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 10px;
	font-style: italic;
	font-size: 14px;
	@media (max-width: 630px) {
		text-align: left;
		display: block;
	}
}

.timeline_note {
	margin-left: 90px;
	margin-top: 0.5%;
	margin-bottom: 0;
	@media (max-width: 630px) {
		margin-left: 0;
		padding-left: 1.25em;
	}
}

.kitten-link {
	cursor: pointer;
}

.kitten-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 600px;
	clear: both;
	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.kitten {
	display: none;
	position: absolute;
	z-index: 199;
	border: 3px solid $border-color;
	border-radius: 5px;
	box-shadow: 0 0 15px grey;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	background-color: white;
	width: 90%;
}

.kitten-img {
	width: 100%;
}

.kitten-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	width: 20px;
	padding: 2px;
	cursor: pointer;
	text-align: center;
	background-color: $border-color;
	color: white;
	&:hover {
		color: $emphasis-color;
	}
}

#exclamation {
	color: $emphasis-color;
}

.icon {
	max-width: 25px;
	vertical-align: middle;
	display: inline-block;
	font-size: 20px;
}

.star {
	max-width: 50px;
	vertical-align: baseline;	
}

#footer_sentence {
	font-size: 10px;
}

#project_grid {
  margin: 0;
  overflow: hidden;
  list-style-type: none; 
  padding: 0;  
  margin-top: 25px;
}

#project_grid li {
  box-sizing: border-box;
  padding-bottom: 10px;
  clear: both;
  overflow: hidden;
  padding-top: 20px;
}

figure {
	width: 55%;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	position: relative;
  margin: 0;
  padding-left: 0;
  margin-right: 25px;
  float: left;
  margin-bottom: 15px;
  overflow: hidden;
 //  @media (max-width: 585px) {
	// 	float: none;
	// 	width: 100%;
	// }
	&:hover {
		figcaption {
			opacity: 1;
			right: 0;
		}
		border: 2px solid black;
	}
	border: 2px solid $border-color;
	box-sizing: border-box;
}

.project_img {
  width: 100%;
	display: block;
}

figcaption {
	opacity: 0;
	transition: .5s linear all;
	background: transparentize(lighten($border-color, 20%), .2);
	width: 30%;
	line-height: 1;
  font-size: 16px;
  position: absolute;
  right: -100px;
  bottom: 0;
 	text-align: right;
	font-size: 36px;
	position: absolute;
	padding: 1%;
	box-sizing: border-box;
	@media (max-width: 640px) {
		width: 15%;
	}
}

.fa-github, .fa-link {
	color: $bg-color;
	&:hover {
		color: $emphasis-color;
	}
	width: 1em;
	text-align: center;
}

.fa-plus-square:hover, .fa-minus-square:hover {
	color: $emphasis-color;
	cursor: pointer;
}

h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $emphasis-color;
	font-size: 16px;
	margin-bottom: 10px;
}

h5 + p {
	margin-top: 0px;
}

.more_about {
	display: none;
}

#skills span {
	color: $bg-color;
	background-color: $link-color;
	padding: 4px;
	border-radius: 4px;
	font-family: $headline-font;
	margin-left: 1px;
	line-height: 2em;
}

footer {
	font-size: 15px;
	font-family: $headline-font;
	margin-top: 50px;
	color: $emphasis-color;
	text-align: right;
}