body {
	font-family: 'Roboto Slab', serif;
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	background-color: mintcream;
}

/*BLUE COLOR: 	background-color: rgba(11, 128, 178, .8);*/

#head {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

header {
	padding: 15px;
	margin-top: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 65.66%;
	color: mintcream;
  text-shadow: 0 1px 1px black;
  background-image: url("image/kitten.jpg");
  background-repeat: no-repeat;
	background-position: 10% center;
	background-size: cover;
	box-sizing: border-box;
}

h1 {
	font-size: 2.5em;
	margin: 0;
	display: inline-block;
	vertical-align: baseline;
	padding: 0;
	position: relative;
	margin-top: 140px;
	margin-left: 200px;
}

nav {
	font-size: 26px;
	position: absolute;
	right: 10%;
	top: 1.15em;
	display: inline-block;
	margin-top: 210px;
	margin-right: 110px;
}

nav a {
	color: mintcream;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.normal {
	max-width: 600px;
}

.wide {
	max-width: 750px;
	margin-top: 30px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 10%;
	color: #99004c;
	font-family: "Lato", sans-serif;
	font-size: 22px;
}

h3 {
	font-family: "Lato", sans-serif;	
	font-weight: normal;
	font-size: 18px;
}

h4 {
	font-family: "Lato", sans-serif;
	margin-bottom: -5px;
	padding-top: 10px;
	font-size: 20px;
	border-bottom: 1px solid rgb(11, 83, 148);
	margin-top: 5%;
}

a:hover {
	text-decoration: none;
}

.timeline_item {
	padding-top: 5px;
}

.date {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 10px;
	font-style: italic;
	font-size: 14px;
}

.timeline_note {
	margin-left: 15%;
	margin-top: 0.5%;
	margin-bottom: 0;
}

#exclamation {
	color: #99004c;
}

.icon {
	max-width: 25px;
	vertical-align: middle;
	display: inline-block;
	font-size: 20px;
	/*color: rgba(11, 83, 148)*/
}

.star {
	max-width: 50px;
	vertical-align: baseline;	
}

#footer_sentence {
	font-size: 10px;
}

#project_grid {
  margin: 0;
  overflow: hidden;
  list-style-type: none; 
  padding: 0;  
}

#project_grid li {
  box-sizing: border-box;
  padding-bottom: 20px;
  clear: both;
  overflow: hidden;
}

figure {
	width: 45%;
	position: relative;
  margin: 0;
  padding-left: 0;
  float: left;
  margin-bottom: 15px;
}

.project_img {
  width: 100%;
	display: block;
	/*border: 2px solid rgb(11, 128, 178);*/
	border: 2px solid grey;
	border-radius: 10px;
	box-sizing: border-box;
}

.project_img:hover {
	border: 2px solid black;
	/*border: none;*/
}

.project_about {
	float: left;
	width: 40%;
	margin-left: 15%;
	box-sizing: border-box;
}

.project_repo {
	text-align: center;
	font-size: 48px;
	line-height: 10px;
	margin-top: 10px;
	color: purple;
/* I really liked the visited link color when this was set to red, it was a dark purple. but my chrome extension thought it was black. how to find?? */
}


h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #99004c;
	font-size: 16px;
}

footer {
	font-size: 15px;
	font-family: "Lato", sans-serif;
	margin-top: 50px;
	color: #99004c;
	text-align: right;
}