$body-font: 'Roboto Slab', serif;
$headline-font: 'Lato', sans-serif;
$bg-color: mintcream;
$emphasis-color: #99004c;
$accent-color: rgb(11, 128, 178);

body {
	font-family: $body-font;
	margin: 0;
	line-height: 1.5;
	font-size: 16px;
	background-color: $bg-color;
}

/*BLUE COLOR: 	background-color: rgba(11, 128, 178, .8);*/

header {
	padding: 15px;
	margin-top: 0;
	width: 100%;
	overflow: hidden;
	color: $bg-color;
  text-shadow: 0 1px 1px black;
  background-image: url("image/kitten.jpg");
  background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	box-sizing: border-box;
	position: relative;
	max-height: calc(100vh - 8rem);
	height: 620px;
	@media (max-width: 500px) {
		background-position: 30%;
	}
}

#head {
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 40%;
  @media (min-width: 800px) {
		bottom: 15rem;
	}
	@media (min-width: 1100px) {
		bottom: 18rem;
	}
	@media (max-width: 600px) {
		width: 70%;
	}
}

a, a:visited {
	color: darken($accent-color, 10%);
}

h1 {
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	@media (max-width: 500px) {
		font-size: 1.75em;
	}
	@media (max-width: 350px) {
		font-size: 1.5em;
	}
}

nav {
	font-size: 26px;
	@media (max-width: 500px) {
		font-size: 20px;
	}
}

nav a, nav a:visited {
	color: $bg-color;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	max-width: 600px;
	clear: both;
	@media (max-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#headshot {
	width: 200px;
	border-radius: 15px;
	float: left;
	display: block;
	margin-bottom: 15px;
	border: 2px solid black;
	@media (max-width: 625px) {
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}
}

h2 {
	margin-top: 10%;
	color: $emphasis-color;
	font-family: $headline-font;
	font-size: 24px;
	display: block;
	margin-top: 30px;
}

h3 {
	font-family: $headline-font;
	font-weight: normal;
	font-size: 18px;
	float: right;
	width: 60%;
	margin-top: 0%;
	padding-bottom: 5%;
	border-bottom: 2px solid $emphasis-color;
	@media (max-width: 625px) {
		float: none;
		width: 100%;
		border: none;
		padding-bottom: 0;
	}
}

h4 {
	font-family: $headline-font;
	margin-bottom: -5px;
	padding-top: 10px;
	font-size: 20px;
	border-bottom: 1px solid $accent-color;
	margin-top: 5%;
}

a:hover {
	text-decoration: none;
}

.timeline_item {
	padding-top: 5px;
	@media (max-width: 630px) {
		padding-top: 15px;
	}
}

.date {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 10px;
	font-style: italic;
	font-size: 14px;
	@media (max-width: 630px) {
		text-align: left;
		display: block;
	}
}

.timeline_note {
	margin-left: 90px;
	margin-top: 0.5%;
	margin-bottom: 0;
	@media (max-width: 630px) {
		margin-left: 0;
		padding-left: 1.25em;
	}
}

#exclamation {
	color: $emphasis-color;
}

.icon {
	max-width: 25px;
	vertical-align: middle;
	display: inline-block;
	font-size: 20px;
}

.star {
	max-width: 50px;
	vertical-align: baseline;	
}

#footer_sentence {
	font-size: 10px;
}

#project_grid {
  margin: 0;
  overflow: hidden;
  list-style-type: none; 
  padding: 0;  
  margin-top: 25px;
}

#project_grid li {
  box-sizing: border-box;
  padding-bottom: 10px;
  clear: both;
  overflow: hidden;
  padding-top: 20px;
}

.project_repo .fa-github {
	color: darken($accent-color, 15%);
}

figure {
	width: 50%;
	position: relative;
  margin: 0;
  padding-left: 0;
  float: left;
  margin-bottom: 15px;
  @media (max-width: 585px) {
		float: none;
		width: 100%;
	}
}

.project_img {
  width: 100%;
	display: block;
	border: 2px solid grey;
	border-radius: 10px;
	box-sizing: border-box;
}

.project_img:hover {
	border: 2px solid black;
}

.project_about {
	float: left;
	width: 48%;
	margin-left: 2%;
	box-sizing: border-box;
	@media (max-width: 585px) {
		float: none;
		width: 100%;
		margin-left: 0;
	}
}

.project_repo {
	text-align: center;
	font-size: 48px;
	line-height: 10px;
	margin-top: 10px;
	color: purple;
	margin-bottom: 0px;
}

h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $emphasis-color;
	font-size: 16px;
	margin-bottom: 10px;
}

h5 + p {
	margin-top: 0px;
}

#skills span {
	color: $bg-color;
	background-color: $accent-color;
	padding: 4px;
	border-radius: 4px;
	font-family: $headline-font;
	margin-left: 1px;
	line-height: 2em;
}

footer {
	font-size: 15px;
	font-family: $headline-font;
	margin-top: 50px;
	color: $emphasis-color;
	text-align: right;
}